@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-color: #2c3e50; /* Dunkelblau aus der Seitenleiste */
    --secondary-color: #34495e; /* Etwas helleres Blau für Kontrast */
    --text-color: #333;
    --bg-color: #ecf0f1;
    --sidebar-width: 250px;
    --sidebar-margin: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 50%;
    left: var(--sidebar-margin);
    transform: translateY(-50%);
    border-radius: 15px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.sidebar-content {
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: var(--secondary-color);
}

.sidebar ul li a i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}



.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: var(--secondary-color);
}

.suchergebnisse-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.suchergebnis-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.suchergebnis-item:last-child {
    border-bottom: none;
}

.suchergebnis-item h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.suchergebnis-item p {
    margin: 5px 0;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}






.main-content {
    flex-grow: 1;
    margin-left: calc(var(--sidebar-width) + var(--sidebar-margin) * 2);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    color: var(--primary-color);
    margin: 0;
}

.dashboard-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.summary-card {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.summary-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.summary-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


.user-info {
    display: flex;
    align-items: center;
}

#user-email {
    margin-right: 10px;
    font-weight: bold;
}

#logout-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: var(--secondary-color);
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Rechtsausrichtung für numerische Werte */
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    text-align: right;
}

/* Hervorhebung für nicht vermietete Wohnungen */
td:nth-child(2):contains('Nicht vermietet') {
    color: #e74c3c;
    font-weight: bold;
}



th {
    background-color: var(--primary-color);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Abrundung der äußeren Ecken der Tabelle */
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        left: -var(--sidebar-width);
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: var(--sidebar-margin);
    }

    .main-content {
        margin-left: 0;
    }
}
